<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}DIY-Q&A app{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets  '@AppBundle/Resources/views/public/css/*' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <nav class="main">
        <div class="container">
            <a href="{{ url('question_index') }} " class="brand">
                 Aplikacja typu "Q&A" dla miłośników DIY
            </a>
            <ul class="main-nav">
                <li class="nav-docs"><a href="{{ url('question_index') }}">Pytania</a></li>
                <li class="nav-docs"><a href="{{ url('categories_index') }}">Kategorie</a></li>
                <li class="nav-docs"><a href="{{ url('tags') }}">Tagi</a></li>
                {% if app.user %}
                    <li class="nav-docs">Witaj, <strong>{{ app.user.username }}</strong>. <a href="{{ path('auth_logout') }}">Wyloguj się</a></li>
                {% else %}
                    <li class="nav-docs"><a href="{{ path('auth_login') }}">Zaloguj się</a></li>
                    <li class="nav-docs"><a href="{{ path('fos_user_registration_register') }}">Zarejestruj się</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<div class="jumbotron" style="background: #f4645f url(https://gyazo.com/8cc3d245ae53ef7491947263c996064f) right center no-repeat;border-radius:0px; color:white; margin-bottom:0px; padding-top: 35px;
        padding-bottom: 25px; ">
    <div class="container" style="width:1160px;">
        <h3 style="margin-top: 25px;">Potrzebujesz pomocy przy swoim DIY? Zadaj pytanie lub poszukaj </h3>
        <br>
    </div>
</div>
<div id="content" class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
