{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <h1>Zaloguj się </h1>

    <form action="{{ path('auth_logout') }}" method="post">
        <label>
            <input id="fname" type="text" placeholder="Nazwa użytkownika">
            <span>Nazwa użytkownika</span>
        </label>

        <label>
            <input type="password" placeholder="Hasło">
            <span>Hasło</span>
        </label>

        <input type="submit" value="Zaloguj się">
    </form>
{% endblock %}