{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <form>
        <div>

            <h1><a href="{{ path('question_index') }}">Witaj! Zarejestruj się, boś nowy :) </a></h1>


        </div>

    </form>
{% endblock %}