{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {% if is_granted('ROLE_USER') %}

    <h2>Usuń odpowiedź</h2>
    <div>
        {{ form_errors(form) }}
    </div>
    {{ form(form, {'method': 'POST'}) }}

        {% endif %}

{% endblock %}