{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h2>Edytuj odpowiedź</h2>
    <div>{{ form_errors(form) }}</div>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.content) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}


{% endblock %}