{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <h1>Odpowiedzi</h1>


        {% for answer in answers %}
            <h4><a  href="{{ url('answers_view',{'id': answer.id}) }}">Odpowiedź </a> do pytania <a href="/~12_puczko/aplikacja/app_dev.php/questions/view/{{ answer.question.id }}">{{ answer.question.id }}  </a> {{ answer.content }} </h4>
        {% endfor %}




{% endblock %}