{% extends "AppBundle::layout.html.twig" %}

{% block content %}
<ul class='faq_container'>
        {% for question_id in answer %}

                    {% include "AppBundle:Question:question.html.twig" with { 'question': question } %}


        {% endfor %}

</ul>
    <div class="panel panel-default">
        <div class="panel-heading">
        <p>Treść odpowiedzi:</p>
        </div>
    <div class="panel-body">

        <h3> {{ answer.content }}</h3>
    </div>
    <div class="panel-footer">
        <a class="button dashed thin" href="{{ url('answer_index') }}">Powrót do odpowiedzi</a>
        <a class="button dashed thin" href="{{ url('question_index') }}">Powrót do pytań</a>
    </div>

    {% if is_granted('ROLE_USER') and app.user == answer.user or is_granted('ROLE_ADMIN') %}
<div class="panel-footer">
            <a class="button lined thin" href="{{ url('answers_delete',{'id': answer.id}) }}" > Usuń odpowiedź </a>
        </div>
    {% endif %}

    </div>



{% endblock %}