{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h2>Wszystkie kategorie</h2>
        <ul>
        {% if is_granted('ROLE_USER') %}
          <a class="button lined thick" href="{{ url('categories-add') }}">Dodaj Kategorię</a>
        {% endif %}
        </ul>
        {% if categories == null %}
            <p class="bg-danger">Brak kategorii :(</p>
        {% else %}

                {% for category in categories %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="{{url('categories-view',{'id': category.id}) }}">   {{ category.name }}</a>

                        </h3>
                    </div>
                    </div>
                {% endfor %}

        {% endif %}
    </div>
{% endblock %}