{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="{{url('categories-view',{'id': category.id}) }}">   {{ category.name }}</a>
            </h3>
        </div>
        <div class="panel-body">





    {% if category.questions|length %}
        <p>Pytania w tej kategorii</p>
        {% for row in category.questions %}
            <a class="button dotted thin" href="{{ url('questions_view', {'id':  row.id }) }}">Pytanie  {{ row.id }}:   {{ row.content }}</a>
        {% endfor %}
     {% else %}
         Ta kategoria nie zawiera pytań
     {% endif %}
        </div>
        <div class="panel-footer">
            <a class="button dashed thin" href="{{ url('categories_index') }}">Powrót do kategori</a>
            <a class="button dashed thin" href="{{ url('question_index') }}">Powrót do pytań</a>
        </div>
        <div class="panel-footer">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="button lined thin" href="{{ url('categories-edit', { 'id' : category.id }) }}" title="edit">Edytuj</a>
                <a class="button lined thin" href="{{ url('categories-delete', { 'id' : category.id }) }}" title="delete">Usuń</a>
            {% endif %}
        </div>
    </div>


{% endblock %}