{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h2>Edytuj pytanie</h2>
    {{ form_start(form) }}
    <div>{{ form_errors(form) }}</div>
    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.content) }}
    </div>
    <div class="form-group">
        {{ form_label(form.tags) }}
        {{ form_errors(form.tags) }}
        {% for tag in form.tags %}
            <div class="checkbox">
                <label>
                    {{ form_widget(tag) }} {{ form_label(tag) }}
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_errors(form.category) }}
        {% for category in form.category %}
            <div class="radio">
                <label>
                    {{ form_widget(category) }} {{ form_label(category) }}
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
{% endblock %}