{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h2>Ostatnie pytania</h2>
        {% if is_granted('ROLE_USER') %}
            <p>
         <a class="button lined thick" href="{{ url('questions_new') }}"> Dodaj swoje pytanie!</a>
            </p>
        {% endif %}

        {% if questions == null %}
            <p class="bg-danger">Brak pytań. :(</p>
        {% else %}
            <ul class='faq_container'>
                {% for question in questions %}
                    {% include "AppBundle:Question:question.html.twig" with { 'question': question } %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}