{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="col-md-12">
        <h2>Dodaj pytanie</h2>
        {#<div>{{ form_errors(form) }}</div>#}
        {#{{ form(form, {'method': 'POST'}) }}#}
        {{ form_start(form) }}
        <div>{{ form_errors(form) }}</div>
        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.tags) }}
            {{ form_errors(form.tags) }}
            {% for tag in form.tags %}
                <div class="checkbox">
                    <label>
                        {{ form_widget(tag) }} {{ form_label(tag) }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_errors(form.category) }}
            {% for category in form.category %}
                <div class="radio">
                    <label>
                        {{ form_widget(category) }} {{ form_label(category) }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}