<li>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="{{ url('questions_view', {'id':  question.id }) }}"> Pytanie nr {{ question.id }} | Dodane: {{ question.createdAt | date('Y.m.d') }}</a>
            </h3>
        </div>
        <div class="panel-body">
            <p>{{ question.content }}</p>
        </div>
        {% if is_granted('ROLE_USER') %}
        <div class="panel-footer">
            <p><a href="{{ url('questions_view', {'id':  question.id }) }}">Zobacz odpowiedzi</a> | <a href="{{ url('answer_new', {'id':  question.id }) }}">Dodaj odpowiedź</a> </p>
        </div>
        {% endif %}
    </div>
</li>
