{% extends "AppBundle::layout.html.twig" %}

{% block content %}


    <div class="panel-default">

        <div class="panel-heading">
            <h3>{{ question.content }}</h3>
            <h6>Kategoria:
            {% if category|length %}
                <a href="{{ url('categories-view', { 'id' : category.id }) }}" title="view">
                    {{ category.name }}
                </a>
            {% else %}
                -
            {% endif %}</h6>
        </div>




<div class="panel-body">
    {% if answer|length %}
<h5>Odpowiedzi:</h5>
        {% for row in answer %}
<a class='button dotted thin' href="{{ url('answers_view',{'id': row.id}) }}">{{ row.content }}</a>
        {% endfor %}
{% else %}
    Brak odpowiedzi
    {% endif %}
</div>
        <div class="panel-body">
        {% if tags|length %}

        <h5>Tagi:</h5>
        {% for row in tags %}
            <a class="button dotted thin" href="{{ url('tags_view',{'id': row.id}) }}">{{ row.name }}</a>
        {% endfor %}
            {% else %}
                Brak tagów
                {% endif %}
        </div>

        <div class="panel-footer">
           <a class="button dashed thin" href="{{ url('question_index') }}">Powrót do listy pytań</a>
            {% if is_granted('ROLE_USER') %}
            <a  class=" button dashed thin"href="{{ url('answer_new', {'id':  question.id }) }}">Dodaj odpowiedź</a>
                {% endif %}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="panel-footer">
                <a class="button lined thin" href="{{ url('questions_edit', { 'id' : question.id }) }}" title="edit">Edytuj</a>
                <a class="button lined thin" href="{{ url('questions_delete', { 'id' : question.id }) }}" title="delete">Usuń</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_USER') and app.user == question.user %}
            {% if is_granted('ROLE_ADMIN') == false %}
    <div class="panel-footer">
        <a class="button lined thin" href="{{ url('questions_edit', { 'id' : question.id }) }}" title="edit">edit</a>
        </div>
        {% endif %}
        {% endif %}
    </div>


{% endblock %}