{% extends "AppBundle::layout.html.twig" %}

{% block content %}
<h2>Edytuj tag</h2>
{#<div>{{ form_errors(form) }}</div>#}
{#{{ form(form, {'method': 'POST'}) }}#}
    {{ form_start(form) }}
    <div>{{ form_errors(form) }}</div>
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
{% endblock %}