{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <h2>Tagi</h2>

    <p>
        {% if tags == null %}
            Brak tagóœ do wyświetlenia. :(
        {% endif %}

        {% if is_granted('ROLE_USER') %}

         <a class="button lined thick" href="{{ url('tag_new') }}"> Dodaj swój tag!</a>  {% endif %}
    </p>


        {% for tag in tags %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="{{url('tags_view',{'id': tag.id}) }}"> {{ tag.name }}</a>
                </h3>
            </div>

            </div>
            {% endfor %}




{% endblock %}