{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="{{url('tags_view',{'id': tag.id}) }}">   {{ tag.name }}</a>
            </h3>
        </div>


        <div class="panel-body">

        {% if tag.questions|length %}
            <p>Pytania z tym tagiem:</p>
        {% for row in tag.questions %}
            <a class='button dotted thin' href="{{ url('questions_view',{'id': row.id}) }}">{{ row.content }}</a>
        {% endfor %}
        {% else %}
            <h3>Brak pytań z tym tagiem.</h3>
            {% endif %}
        </div>

        <div class="panel-footer">
            <a class="button dashed thin" href="{{ url('tags') }}">Powrót do tagów</a>
            <a class="button dashed thin" href="{{ url('question_index') }}">Powrót do pytań</a>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="panel-footer">
                <a class="button lined thin" href="{{ url('tags_edit', { 'id' : tag.id }) }}" title="edit">Edytuj</a>
                <a class="button lined thin" href="{{ url('tags_delete', { 'id' : tag.id }) }}" title="delete">Usuń</a>
            </div>
        {% endif %}
    </div>

{% endblock %}